@import "tailwindcss";

html,
body {
    font-size: 12px;
}

* {
    font-size: inherit;
}

/* Hide scrollbars but keep scroll functionality */
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}